.intro {
  text-align: center;
}
body {
  background-color: lightgray;
}
h2 {
  border-bottom: lightslategray;
  border-bottom-style: solid;
}
h3 {
  border-bottom: lightslategray;
  border-bottom-style: solid;
}
